.App {
  text-align: center;
}

.row {
  width:auto;
  margin: 0;
  padding: 0;
}


.toprow {
  background-color: red;
  padding: 50px;
}
.toprow div{
  display: inline;
  margin: 10px;
  background-color: yellow;
  padding: 5px;
  font-size: 40px;
}